[req]
distinguished_name = torreflamel
x509_extensions = v3_req
prompt = no
[torreflamel]
C = BR
ST = State
L = Location
O = Organization Name
OU = Organizational Unit 
CN = www.localhost.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.localhost.com
DNS.2 = localhost.com
DNS.3 = localhost
DNS.4 = 127.0.0.1
DNS.6 = www.vacsina.servegame.com
DNS.5 = vacsina.servegame.com
DNS.6 = 192.168.0.200
DNS.7 = 108.61.132.108